__pycache__/
.pytest_cache/
.vscode/
.venv/
data/
*.pyc
*.pyo
*.db
*.sqlite
*.log
node_modules/
test-results/
playwright-report/
/vcfDownloadTool
/image/hyperv/build
/image/hyperv/packer_cache
/image/hyperv/output
/image/hyperv/clients
/dist
