__pycache__/
.pytest_cache/
.vscode/
.venv/
.env
.env.local
data/
*.pyc
*.pyo
*.db
*.sqlite
*.log
node_modules/
test-results/
playwright-report/
/vcfDownloadTool
/image/hyperv/build
/image/hyperv/packer_cache
/image/hyperv/output
/image/hyperv/clients
/image/common/source
/image/vmware-workstation/build
/image/vmware-workstation/packer_cache
/image/vmware-workstation/output
/image/vmware-workstation/clients
/image/vmware-workstation/ovf
/image/vmware-workstation/test-vms
/dist
/image/vmware-workstation/ovf
