[Unit]
Description=LabFoundry durable task worker and scheduler
After=network-online.target labfoundry-data-disks.service labfoundry.service
Wants=network-online.target labfoundry-data-disks.service labfoundry.service

[Service]
Type=simple
User=labfoundry
Group=labfoundry
WorkingDirectory=/var/lib/labfoundry
EnvironmentFile=/etc/labfoundry/labfoundry.env
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=LABFOUNDRY_HELPER_USE_SYSTEMD_RUN=1
UMask=0027
ExecStart=/opt/labfoundry/.venv/bin/python -m labfoundry.app.worker
Restart=on-failure
RestartSec=5
NoNewPrivileges=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/var/lib/labfoundry /var/log/labfoundry /mnt/labfoundry-vcf-offline-depot

[Install]
WantedBy=multi-user.target
