[Unit]
Description=LabFoundry VMware OVF first-boot customization
DefaultDependencies=no
After=local-fs.target
Before=network-pre.target systemd-networkd.service labfoundry-firewall.service labfoundry-bootstrap-https.service nginx.service labfoundry.service

[Service]
Type=oneshot
ExecStart=/opt/labfoundry/bin/labfoundry-vmware-ovf-customize.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
