[Unit]
Description=LabFoundry appliance control plane
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=labfoundry
Group=labfoundry
WorkingDirectory=/var/lib/labfoundry
EnvironmentFile=/etc/labfoundry/labfoundry.env
Environment=PYTHONDONTWRITEBYTECODE=1
Environment=LABFOUNDRY_HELPER_USE_SYSTEMD_RUN=1
UMask=0027
ExecStart=/opt/labfoundry/.venv/bin/python -m uvicorn labfoundry.app.main:app --host 0.0.0.0 --port 8000
Restart=on-failure
RestartSec=5
NoNewPrivileges=false
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/etc /var/lib/labfoundry /var/log/labfoundry /mnt/labfoundry-vcf-backups /mnt/labfoundry-vcf-registry /mnt/labfoundry-vcf-offline-depot

[Install]
WantedBy=multi-user.target
